
@{
    Layout = null;
    //Layout = "~/Views/Share/share.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <link rel="stylesheet" href="~/Content/bootstrap.css" />
    <link rel="stylesheet" href="~/Content/MyWorkPlace/Alter-Class-Message.css"/>
    <title>修改班级信息</title>
</head>
<body>
    <div id="div">
        <form action="@Url.Action("Alter", "Home")" method="POST">

            <label for="ClassId"></label>
            <input id="ClassId" type="text" name="classId" style="display: none;" value= "@(ViewBag.cid)"/><br/><br />
            
            <label for="ClassName">班级名</label>
            <input id="ClassName" type="text" name="className" value="@(ViewBag.cname)"  /><br/><br/>

            <label for="Number">班级人数</label>
            <input type="number" id="Number" name="number" value= "@(ViewBag.num)" /><br/><br/>
           
            <label for="GraduateYear">毕业年份</label>
            <input id="GraduateYear" type="number" name="graduateYear" value= "@(ViewBag.year)" ><br/><br/>

            <button type="submit" id="subAlter" class="btn-primary">完成</button>
        </form>
    </div>
</body>
</html>
